# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Test files
test_*.py
debug_*.py
crear_zip.py

# Carpetas innecesarias
backend/
bbdd/
frontend/
approutes/
migrations/
appstatic/
apptemplates/